{#
Copyright 2017 BBVA. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set configName = env["deployment"] + "-bastion-config" %}
{% set waiterName = env["deployment"] + "-bastion-waiter" %}

resources:
- type: runtimeconfig.v1beta1.config
  name: {{ configName }}
  properties:
    config: {{ configName }}

- type: runtimeconfig.v1beta1.waiter
  name: {{ waiterName }}
  metadata:
    dependsOn:
    - {{ env["deployment"] }}-bastion
  properties:
    parent: $(ref.{{ configName }}.name)
    waiter: {{ waiterName }}
    timeout: 300s  # 5 minutes
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1

- name: {{ env["deployment"] }}-bastion
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    tags:
      items:
      - {{ env["deployment"] }}-bastion
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/{{ env["project"] }}/global/images/{{ properties["image"] }}
    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          set -e
          echo "Generating Certificate for openshift api ..."
          KEY='/tmp/ssl.key'
          CERT='/tmp/ssl.crt'
          openssl req -x509 -nodes -days 3650 -newkey rsa:2048 -subj "/C=US/L=Raleigh/O={{ properties['dns_name'] }}/CN={{ properties['openshift_api_public_hostname'] }}" -keyout "$KEY" -out "$CERT"
          gcloud --project "{{ env['project'] }}" compute ssl-certificates create "{{ env['deployment'] }}-master-ssl-lb-cert" --private-key "$KEY" --certificate "$CERT"
          rm -rf $KEY $CERT
          gcloud beta runtime-config configs variables set success/startup success --config-name {{ configName }}
          yum install -i git
          git clone https://github.com/engapa/openshift-origin-gcp.git
    machineType: projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["flavor"] }}
    networkInterfaces:
    - network: projects/{{ env["project"] }}/global/networks/{{ env["deployment"] }}-net
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    serviceAccounts:
    - scopes:
      - https://www.googleapis.com/auth/cloud-platform
  metadata:
    dependsOn:
    - {{ configName }}
    - {{ env["deployment"] }}-net
